@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #191c32;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  width: 80vw;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 40%;
  list-style: none;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 12px;
  border-radius: 5px;
}

.brand {
  margin-top: -7px;
  margin-left: -30px;
}

.brand span {
  color: aqua;
}

.menu .active {
  color: aqua;
}

.menu a:hover {
  background-color: aqua;
  color: #191c32;
  transition: ease-in 0.4s;
}

.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.info-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-p {
  margin-bottom: 250px;
}

.astro-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.astro-container img {
  top: 0;
  z-index: 999;
  animation: astrofloating 15s ease-in-out infinite;
}

@keyframes astrofloating {
  0%,
  100% {
    transform: translateY(-200px);
  }
  66% {
    transform: translateY(100px);
  }
}

h1 {
  font-size: 3em;
  position: relative;
  margin-bottom: 10px;
}

h1 span {
  color: aqua;
  position: relative;
  display: inline-block;
}

h1 span:nth-child(1) {
  animation: jumping 4s alternate infinite;
  animation-delay: 0s;
}

@keyframes jumping {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  40% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-100px) rotate(180deg);
  }
  60% {
    transform: translateY(0px) rotate(360deg);
  }
  100% {
    transform: translateY(0px) rotate(360deg);
  }
}

h1 span:nth-child(2) {
  animation: jumping 4s alternate infinite;
  animation-delay: 0.4s;
}

h1 span:nth-child(3) {
  animation: jumping 4s alternate infinite;
  animation-delay: 0.7s;
}

h1 span:nth-child(4) {
  animation: jumping 4s alternate infinite;
  animation-delay: 0.4s;
}

.download-cv {
  padding: 10px 20px;
  background-color: aqua;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  box-shadow: 1px 3px 11px 5px rgba(102, 231, 200, 0.4);
  font-weight: 500;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.download-cv:hover {
  background-color: black;
  color: #fff;
  box-shadow: 1px 3px 11px 5px rgba(255, 255, 255, 0.4);
  transition: ease-in 0.6s;
}

.main img {
  width: 350px;
  margin-left: 300px;
}

.scroll-btn-img {
  position: fixed;
  bottom: 1vh;
  right: 1vw;
  z-index: 999;
  width: 4rem;
  height: 4rem;
  padding: 5px;
  border-radius: 50%;
  background-color: aqua;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 3px 11px 5px rgba(102, 231, 200, 0.4);
}

.scroll-btn-img:hover {
  box-shadow: 1px 3px 11px 5px rgba(255, 255, 255, 0.4);
  background-color: black;
  color: #fff;
  transition: ease-in 0.3s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.about {
  display: flex;
  height: 100vh;
}

.bubbles {
  position: relative;
  display: flex;
}
.wrapper i {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
  margin: 0 4px;
  background: #4fc3dc;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: bubbles 15s linear infinite;
  animation-duration: calc(200s / var(--i));
}

.wrapper i:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px#ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

@keyframes bubbles {
  0% {
    transform: translateY(5vh) scale(0.2);
  }
  100% {
    transform: translateY(-100vh) scale(0.5);
  }
}

.about-img {
  width: 50%;
}

.about img {
  width: 100%;
  height: 100%;
}

.about-info {
  grid-column: 5/10;
  padding: 3em;
  height: 65vh;
  width: 80%;
}

.about-info h2 {
  font-size: 2.5em;
  color: #191c32;
}

.divider {
  height: 4px;
  width: 100px;
  background-color: aqua;
  margin: 0px 0px 25px 0px;
}

.about p {
  margin-bottom: 1em;
}

.tec-info {
  padding: 3em;
}

.tec-info h2 {
  font-size: 2.5em;
  color: #191c32;
}

.lenguajes-img {
  display: flex;
  justify-content: space-around;
  margin: 1em 0px 0px 0px;
}

.lenguajes-img img {
  width: 130px;
  height: 130px;
  margin: 0px 10px 0px 0px;
}

.portfolio {
  background-color: #191c32;
  width: 100vw;
}

.projects-links a img {
  height: 25px;
  width: 25px;
  border: solid 2px #191c32;
  border-radius: 50%;
}

.portfolio-headings {
  padding: 5em;
  width: 100vw;
  margin-left: 111px;
}

.portfolio-headings h2 {
  font-size: 2.5em;
  color: #fff;
}

.portfolio .container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.card {
  width: 220px;
  background-color: #fff;
  height: 305px;
  border-radius: 10px;
  margin: 5em;
}

.card-img {
  background-image: url(./assets/img/project-img.png);
  width: 100%;
  height: 150px;
  background-size: cover;
  border-radius: 9px 9px 0px 0px;
}

.menu-sistema {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 150px;
  border-radius: 9px;
}

.projects-links a:hover img {
  transform: translateY(-5px);
  transition: ease-out 0.5s;
}

.card-title h2 {
  padding: 20px;
  text-align: center;
  color: #191c32;
}

.card-title p {
  padding: 0px 10px 20px 10px;
  text-align: center;
  color: #191c32;
}

.card-title {
  text-align: center;
}

.projects-links {
  display: flex;
  justify-content: space-evenly;
}

.container-contact {
  display: flex;
  justify-content: center;
  width: 80vw;
  height: 80vh;
}

.contact-section {
  margin-left: 159px;
}

.contact-headings {
  padding: 2em;
}

.contact-headings h2 {
  font-size: 2.5em;
}

.contact-img {
  width: 50%;
}

.contact-form {
  width: 50%;
  display: flex;
  margin-top: 5em;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.form input {
  height: 35px;
  border: 3px double transparent;
  border-radius: 10px;
  background-image: linear-gradient(white, white),
    linear-gradient(-45deg, #ff0, #f0f);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.form textarea {
  border: 3px double transparent;
  border-radius: 10px;
  background-image: linear-gradient(white, white),
    linear-gradient(-45deg, #ff0, #f0f);
  background-origin: border-box;
  background-clip: content-box, border-box;
  height: 200px;
}

.form h3 {
  padding-bottom: 20px;
}

.form .btn-submit {
  text-transform: uppercase;
  background-image: linear-gradient(-45deg, #ff0, #f0f);
  cursor: pointer;
  font-weight: 600;
  border: none;
  padding: 10px;
  border-radius: 7px;
  color: white;
}

.btn-submit:hover {
  color: #fff;
  transform: scale(1.1);
  transition: ease-in 0.4s;
}

.loader-container {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}

.loader:nth-child(2),
.loader:nth-child(4) {
  animation-delay: -1s;
  filter: hue-rotate(290deg);
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-container .loader:nth-child(1)::before,
.loader-container .loader:nth-child(2)::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  content: "";
  background: linear-gradient(to top, transparent, rgba(134, 52, 149, 1));
  background-size: 100px 180px;
  background-repeat: no-repeat;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.loader i {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background: #863495;
  border-radius: 50%;
  z-index: 100;
  box-shadow: 0 0 10px #863495, 0 0 20px #863495, 0 0 30px #863495,
    0 0 40px #863495, 0 0 50px #863495, 0 0 60px #863495, 0 0 70px #863495,
    0 0 80px #863495, 0 0 90px #863495, 0 0 100px #863495;
}

.loader span {
  position: absolute;
  inset: 20px;
  border-radius: 50%;
  background: white;
  z-index: 1;
}

.form-response {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}

.footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100px;
  margin-top: -50px;
}

.footer-content h2 {
  font-size: 2em;
}

.footer h5 {
  font-size: 1em;
}

.footer-content {
  text-align: center;
  display: contents;
}

.social-network {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.7em;
  width: 200px;
  padding: 10px;
}

.social-network a img {
  height: 40px;
  width: 40px;
}

.social-network a img:hover {
  transform: translateY(-15px);
  transition: ease-out 0.5s;
}

.none {
  display: none;
}

@media screen and (max-width: 450px) {
  body {
    max-width: 450px;
  }

  header {
    margin-left: -26px;
  }

  .brand {
    display: none;
  }

  .navbar {
    justify-content: center;
    width: 100%;
  }

  .menu {
    width: 100%;
  }

  .menu a {
    padding: 0;
  }

  .info-content {
    width: 250px;
    margin-top: 100px;
  }
  .astro-container {
    display: none;
  }

  .download-cv {
    margin-top: 15px;
  }

  .about-img {
    display: none;
  }

  .about-info h2 {
    margin-left: -30px;
  }

  .divider {
    margin-left: -30px;
  }

  .about-info p {
    margin-left: -25px;
    width: 350px;
  }

  .tec-info {
    margin-top: 60px;
  }

  .tec-info h2 {
    margin-left: -30px;
  }

  .lenguajes-img {
    max-width: 450px;
    margin-left: -30px;
  }

  .lenguajes-img img {
    width: 60px;
    height: 60px;
  }

  .portfolio {
    min-height: 100vh;
  }

  .portfolio .container {
    flex-direction: column;
    height: auto;
  }

  .portfolio-headings {
    padding: 0;
    margin-left: 50px;
  }

  .portfolio-headings h2 {
    margin-left: -30px;
    padding-top: 30px;
  }

  .card {
    margin: 50px;
  }

  .contact-section {
    margin-left: 0;
  }
  .container-contact {
    width: 100%;
  }

  .contact-form {
    width: 100%;
  }

  .contact-img {
    display: none;
  }

  .scroll-btn-img {
    right: 25px;
  }
}
