@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #191c32;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  width: 80vw;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 40%;
  list-style: none;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 12px;
  border-radius: 5px;
}

.brand {
  margin-top: -7px;
  margin-left: -30px;
}

.brand span {
  color: aqua;
}

.menu .active {
  color: aqua;
}

.menu a:hover {
  background-color: aqua;
  color: #191c32;
  transition: ease-in 0.4s;
}

.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

h1 {
  font-size: 3em;
}

h1 span {
  color: aqua;
}

.download-cv {
  padding: 10px 20px;
  background-color: aqua;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  box-shadow: 1px 3px 11px 5px rgba(102, 231, 200, 0.4);
  font-weight: 500;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.download-cv:hover {
  background-color: #fff;
  box-shadow: 1px 3px 11px 5px rgba(255, 255, 255, 0.4);
  transition: ease-in 0.3s;
}

.main img {
  width: 350px;
  margin-left: 300px;
}

.about {
  display: flex;
  height: 100vh;
}

.about-img {
  width: 50%;
}

.about img {
  width: 100%;
  height: 100%;
}

.about-info {
  grid-column: 5/10;
  padding: 3em;
  height: 65vh;
  width: 80%;
}

.about-info h2 {
  font-size: 2.5em;
  color: #191c32;
}

.divider {
  height: 4px;
  width: 100px;
  background-color: aqua;
  margin: 0px 0px 25px 0px;
}

.about p {
  margin-bottom: 1em;
}

.tec-info {
  padding: 3em;
}

.tec-info h2 {
  font-size: 2.5em;
  color: #191c32;
}

.lenguajes-img {
  display: flex;
  justify-content: space-around;
  margin: 1em 0px 0px 0px;
}

.lenguajes-img img {
  width: 130px;
  height: 130px;
  margin: 0px 10px 0px 0px;
}

.portfolio {
  background-color: #191c32;
  width: 100vw;
}

.projects-links a img {
  height: 25px;
  width: 25px;
  border: solid 2px #191c32;
  border-radius: 50%;
}

.portfolio-headings {
  padding: 5em;
  width: 100vw;
  margin-left: 111px;
}

.portfolio-headings h2 {
  font-size: 2.5em;
  color: #fff;
}

.portfolio .container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.card {
  width: 220px;
  background-color: #fff;
  height: 305px;
  border-radius: 10px;
  margin: 5em;
}

.card-img {
  background-image: url(./assets/img/project-img.png);
  width: 100%;
  height: 150px;
  background-size: cover;
  border-radius: 9px 9px 0px 0px;
}

.projects-links a:hover img {
  transform: translateY(-5px);
  transition: ease-out 0.5s;
}

.card-title h2 {
  padding: 20px;
  text-align: center;
  color: #191c32;
}

.card-title p {
  padding: 0px 10px 20px 10px;
  text-align: center;
  color: #191c32;
}

.card-title {
  text-align: center;
}

.projects-links {
  display: flex;
  justify-content: space-evenly;
}

.container-contact {
  display: flex;
  justify-content: center;
  width: 80vw;
  height: 80vh;
}

.contact-section {
  margin-left: 159px;
}

.contact-headings {
  padding: 2em;
}

.contact-headings h2 {
  font-size: 2.5em;
}

.contact-img {
  width: 50%;
}

.contact-form {
  width: 50%;
  display: flex;
  margin-top: 5em;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.form input {
  padding: 10px;
  border: 1px solid #191c32;
  border-radius: 7px;
}

.form h3 {
  padding-bottom: 20px;
}

.form textarea {
  height: 150px;
  padding: 1.5em;
  border-radius: 7px;
  border: 1px solid #191c32;
}

.form .btn-submit {
  text-transform: uppercase;
  background-color: #90348e;
  cursor: pointer;
  font-weight: 600;
  border: none;
  padding: 10px;
  border-radius: 7px;
}

.btn-submit:hover {
  color: #fff;
  transform: scale(1.1);
  transition: ease-in 0.4s;
}

.footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100px;
  margin-top: -50px;
}

.footer-content h2 {
  font-size: 2em;
}

.footer h5 {
  font-size: 1em;
}

.footer-content {
  text-align: center;
  display: contents;
}

.social-network {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.7em;
  width: 200px;
  padding: 10px;
}

.social-network a img {
  height: 40px;
  width: 40px;
}

.social-network a img:hover {
  transform: translateY(-15px);
  transition: ease-out 0.5s;
}
